<% if flash[:errors]%>

<ul>
    <% flash[:errors].each do |error|%>
        <li><%= error %></li>
        <% end %>
        </ul>
        <% end %>


<%=form_for @duck do |f| %>
<%=f.label :name %>
<%=f.text_field :name%>
<br>
<%=f.label :description %>
<%=f.text_field :description %>
<br>

<p><%=f.collection_select :student_id, Student.all, :id, :name %>    :Student Name that you want to match with the duck</p>  <br>
<%=f.submit%>
<br>
<% end %>